@charset "UTF-8";
body {
   background-color: #fffeee;
   background-image: url(sos.jpg);
   background-repeat: no-no-repeat;
   background-size: cover;
   height: 100vh;
}
a1 {
   color: #0db;
   text-align: center;
}
a2 {
   align: center;
}
a4 {
  text-align: right;
  color: blue;
}
a6 {
  color: blue;
  text-align: right;
}
a1 {

}
a1 {
  border-bottom: 2px solid #0db;
}
pp {
  border-bottom: 2px solid #0db;
}
a7 {
  color: red;
  text-align: center;
}
h1.pkki {
  border-bottom: 2px solid #0db;
  color: red;
  text-align: center;
}
